$gutter: 2rem;

$brand-primary-lighter: lighten(#489393, 50%);



// variables to overwrite bootstrap styles

$icon-font-path: '../../bower_components/bootstrap-sass/assets/fonts/bootstrap/';
$font-family-base: 'Lato', sans-serif;

// http://paletton.com/#uid=33i0u0kl7llpO+ZnrvXiOaDgz00
$text-color:            lighten(#000, 13.5%);
$brand-primary:         #489393;
$brand-success:         #31FFFF;
$brand-info:            #299999;
$brand-warning:         #FFBA31;
$brand-danger:          #AA3A3A;
$navbar-inverse-bg:     #153333;