<div id="il">
  <div class="panel panel-primary">
    <!-- option: could add panel header and content text here -->

    <!-- Table -->
    <table class="table">
      <thead>
      <tr class="bg-primary">
        <th>Age</th>
        <th>Status</th>
        <th>Country</th>
        <th>Gender</th>
        <th>Disease</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="info" scope="row">[51 - 76]</th>
        <td class="info">*</td>
        <td class="info">US</td>
        <td class="info">Male</td>
        <td>Skin Cancer Type 1</td>
      </tr>
      <tr>
        <th class="info" scope="row">[51 - 76]</th>
        <td class="info">*</td>
        <td class="info">US</td>
        <td class="info">Male</td>
        <td>Skin Cancer Type 2</td>
      </tr>
      <tr>
        <th class="info" scope="row">[51 - 76]</th>
        <td class="info">*</td>
        <td class="info">US</td>
        <td class="info">Male</td>
        <td>Skin Cancer Type 1</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>