<div id="il">

  <div id="loading" ng-hide="!showLoading " style="text-align: center; width: 105px; margin: 0 auto; ">
    <h3>Loading</h3>
    <img src="../../assets/img/loading.gif" alt="Loading..."  />
  </div>


  <div id="learning-container" ng-hide="!learningContainerVisible" >
    <h3>Please move the data record to one cluster (up or down) with the more relevant data</h3>
    <div class="panel panel-primary">
      <!-- option: could add panel header and content text here -->
      <table class="table" id="cluster-top" >
        <thead ng-mouseenter="showTooltip('true', 1)" ng-mouseleave="showTooltip(false, 1)" >
        <tr class="bg-primary">
          <th ng-repeat="columnName in columnNames">{{columnName}}</th>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #d9edf7" ng-show="showTooltipFirst" ng-mouseenter="showTooltip('true', 1)" ng-mouseleave="showTooltip(false, 1)">
          <td ng-repeat="weight in weightVecTop track by $index">{{formatNumber(weight)}}</td>
        </tr>
        <tr ng-repeat="times in [0 ,1]">
          <td ng-if="dataTop[0].gen_ranges.age">{{dataTop[0].gen_ranges.age == 'all' ? '*' : dataTop[0].gen_ranges.age}}</td>
          <td ng-if="dataTop[0].gen_ranges['education-num']">{{dataTop[0].gen_ranges['education-num'] == 'all' ? '*' : dataTop[0].gen_ranges['education-num']}}</td>
          <td ng-if="dataTop[0].gen_ranges['hours-per-week']">{{dataTop[0].gen_ranges['hours-per-week'] == 'all' ? '*' : dataTop[0].gen_ranges['hours-per-week']}}</td>
          <td ng-if="dataTop[0].gen_feat.workclass">{{dataTop[0].gen_feat.workclass == 'all' ? '*' : dataTop[0].gen_feat.workclass}}</td>
          <td ng-if="dataTop[0].gen_feat['native-country']">{{dataTop[0].gen_feat['native-country'] == 'all' ? '*' : dataTop[0].gen_feat['native-country']}}</td>
          <td ng-if="dataTop[0].gen_feat.sex">{{dataTop[0].gen_feat.sex == 'all' ? '*' : dataTop[0].gen_feat.sex}}</td>
          <td ng-if="dataTop[0].gen_feat.race">{{dataTop[0].gen_feat.race == 'all' ? '*' : dataTop[0].gen_feat.race}}</td>
          <td ng-if="dataTop[0].gen_feat.relationship">{{dataTop[0].gen_feat.relationship == 'all' ? '*' : dataTop[0].gen_feat.relationship}}</td>
          <td ng-if="dataTop[0].gen_feat.occupation">{{dataTop[0].gen_feat.occupation == 'all' ? '*' : dataTop[0].gen_feat.occupation}}</td>
          <td ng-if="dataTop[0].gen_feat.income">{{dataTop[0].gen_feat.income == 'all' ? '*' : dataTop[0].gen_feat.income}}</td>
          <td ng-if="dataTop[0].gen_feat['marital-status']">{{dataTop[0].gen_feat['marital-status'] == 'all' ? '*' : dataTop[0].gen_feat['marital-status']}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="button-arrow">
      <button type="button" id="buttonUp" class="btn btn-default" aria-label="arrow up" data-ng-click="up()"
              ng-class="{'hover': movedUp}">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      </button>
    </div>

    <div id="center" class="panel">
      <div class="panel panel-primary" id="panel-center" ng-class="{'movedUp': movedUp, 'movedDown': movedDown} ">
        <table class="table" id="new-record">
          <thead>
          <tr class="bg-primary">
            <th ng-repeat="columnName in columnNames">{{columnName}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td ng-if="dataTop[0].gen_ranges.age">{{center['age']}}</td>
            <td ng-if="dataTop[0].gen_ranges['education-num']">{{center['education-num']}}</td>
            <td ng-if="dataTop[0].gen_ranges['hours-per-week']">{{center['hours-per-week']}}</td>
            <td ng-if="dataTop[0].gen_feat.workclass">{{center['workclass']}}</td>
            <td ng-if="dataTop[0].gen_feat['native-country']">{{center['native-country']}}</td>
            <td ng-if="dataTop[0].gen_feat.sex">{{center['sex']}}</td>
            <td ng-if="dataTop[0].gen_feat.race">{{center['race']}}</td>
            <td ng-if="dataTop[0].gen_feat.relationship">{{center['relationship']}}</td>
            <td ng-if="dataTop[0].gen_feat.occupation">{{center['occupation']}}</td>
            <td ng-if="dataTop[0].gen_feat.income">{{center['income']}}</td>
            <td ng-if="dataTop[0].gen_feat['marital-status']">{{center['marital-status']}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div id="button-skip">
        <button type="button" class="btn btn-danger" data-ng-click="trash()">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"> skip</span>
        </button>
      </div>
    </div>

    <div class="button-arrow">
      <button type="button" class="btn btn-default" id="buttonDown" aria-label="arrow down" data-ng-click="down()"
              ng-class="{'hover': movedDown}">
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      </button>
    </div>


    <div class="panel panel-primary">
      <table class="table" id="cluster-bottom" >
        <thead ng-mouseenter="showTooltip('true', 2)" ng-mouseleave="showTooltip(false, 2)">
        <tr class="bg-primary">
          <th ng-repeat="columnName in columnNames">{{columnName}}</th>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #d9edf7" ng-show="showTooltipSecond" ng-mouseenter="showTooltip('true', 2)" ng-mouseleave="showTooltip(false, 2)">
          <td ng-repeat="weight in weightVecBottom track by $index">{{formatNumber(weight)}}</td>
        </tr>
        <tr ng-repeat="times in [0 ,1]">
          <td ng-if="dataBottom[0].gen_ranges.age">{{dataBottom[0].gen_ranges.age == 'all' ? '*' : dataBottom[0].gen_ranges.age}}</td>
          <td ng-if="dataBottom[0].gen_ranges['education-num']">{{dataBottom[0].gen_ranges['education-num'] == 'all' ? '*' : dataBottom[0].gen_ranges['education-num']}}</td>
          <td ng-if="dataBottom[0].gen_ranges['hours-per-week']">{{dataBottom[0].gen_ranges['hours-per-week'] == 'all' ? '*' : dataBottom[0].gen_ranges['hours-per-week']}}</td>
          <td ng-if="dataBottom[0].gen_feat.workclass">{{dataBottom[0].gen_feat.workclass == 'all' ? '*' : dataBottom[0].gen_feat.workclass}}</td>
          <td ng-if="dataBottom[0].gen_feat['native-country']">{{dataBottom[0].gen_feat['native-country'] == 'all' ? '*' : dataBottom[0].gen_feat['native-country']}}</td>
          <td ng-if="dataBottom[0].gen_feat.sex">{{dataBottom[0].gen_feat.sex == 'all' ? '*' : dataBottom[0].gen_feat.sex}}</td>
          <td ng-if="dataBottom[0].gen_feat.race">{{dataBottom[0].gen_feat.race == 'all' ? '*' : dataBottom[0].gen_feat.race}}</td>
          <td ng-if="dataBottom[0].gen_feat.relationship">{{dataBottom[0].gen_feat.relationship == 'all' ? '*' : dataBottom[0].gen_feat.relationship}}</td>
          <td ng-if="dataBottom[0].gen_feat.occupation">{{dataBottom[0].gen_feat.occupation == 'all' ? '*' : dataBottom[0].gen_feat.occupation}}</td>
          <td ng-if="dataBottom[0].gen_feat.income">{{dataBottom[0].gen_feat.income == 'all' ? '*' : dataBottom[0].gen_feat.income}}</td>
          <td ng-if="dataBottom[0].gen_feat['marital-status']">{{dataBottom[0].gen_feat['marital-status'] == 'all' ? '*' : dataBottom[0].gen_feat['marital-status']}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>