
<div class="slider" ng-repeat="data in sliders" ng-if="data.groupName == attr.groupname">
  <div>
    <div class="title">{{data.name}} <span ng-hide="data.noTextBox" id="text{{data.id}}">({{data.value.toFixed(2)}})</span></div>
  </div>
  <div class="slider-range" >
    <p>not important</p>
        <input id="{{data.id}}"
          ng-change="valueChanged(data.id)"
          class="{{data.groupName}}"
          type="range"
          min="{{data.min}}"
          max="{{data.max}}"
          value="{{data.userInput}}"
          step="0.01"
          ng-model="data.userInput" />
    <p>very important</p>
  </div>
</div>

