
<div class="slider" ng-repeat="data in sliders" >
  <div class="row" ng-if="data.groupName == attr.groupname">
    <div class="col-xs-12 title">{{data.name}} <span ng-hide="data.noTextBox" id="text{{data.id}}">({{data.value.toFixed(2)}})</span></div>
  </div>
  <div class="row slider-range" ng-if="data.groupName == attr.groupname">
      <div class="col-xs-12">
        not important
        <input id="{{data.id}}"
          ng-change="valueChanged(data.id)"
          class="{{data.groupName}}"
          type="range"
          min="{{data.min}}"
          max="{{data.max}}"
          value="{{data.userInput}}"
          step="0.01"
          ng-model="data.userInput" />
        very important
      </div>
  </div>
</div>

