<main>
  <section>
    <h3 class="centered">General Information</h3>

    <form class="narrow">
      <label for="inputUserToken" >User-Token</label>
      <input type="text" ng-model="context.usertoken" id="inputUserToken" class="form-control" placeholder="User-Token" required="required" autofocus="">
      <br/>
      <label for="inputAge" >Age</label>
      <input type="number" ng-model="context.age" id="inputAge" class="form-control" placeholder="Age" required="required" autofocus="">
      <br/>
      <label for="inputEducation">Highest School Graduation</label>
      <select id="inputEducation" class="form-control"
        ng-model="context.selectedEducation">
        <option ng-repeat="data in context.degrees" value="{{data.id}}">{{data.description}}</option>
      </select>
      <br/>
      <button type="submit" ng-disabled="context.age === undefined || context.usertoken === undefined || context.age < 0 || context.age > 100" class="btn btn-lg btn-primary btn-block" ng-click="takeSurvey()" >Take Survey</button>
    </form>

  </section>
</main>
