<main>
  <section>
    <h3 class="centered">You are done. Thank you for your help!</h3>
    <h3 class="centered">Here are your results:</h3>

    <div class="space-between">
      <h4>Your weights</h4>
      <h4>Calculated weights</h4>
    </div>

    <div class="weights">
      <div ng-repeat="weight in weights" class="userWeights">
        <div class="progress">
          <div
              class="progress-bar progress-bar-danger"
              role="progressbar"
              aria-valuenow="{{weight.user * 100}}"
              aria-valuemin="0" aria-valuemax="100" style="width:{{weight.user * 100}}%">
            <span class="sr-only">{{weight.user * 100}}%</span>
          </div>
        </div>
        <p>{{weight.name}}</p>
        <div class="progress">
          <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="{{weight.iml * 100}}"
              aria-valuemin="0" aria-valuemax="100" style="width:{{weight.iml * 100}}%">
            <span class="sr-only">{{weight.iml * 100}}%</span>
          </div>
        </div>
      </div>
    </div>

    <div id="imgAlgo1">
      <div class="loader">
        <h3>Loading</h3>
        <img src="../../assets/img/loading.gif" alt="Loading..."  />
      </div>
    </div>

    <a class="text-center register" ui-sref="survey-overview">Back to survey overview</a>
  </section>

</main>
