<div id="sliderlearner" ng-controller="SLCtrl">

        <h3 > Please set the importance of the single features for this study</h3>

    <div id="loading" ng-hide="learningContainerVisible" style="text-align: center; width: 105px; margin: 0 auto; ">
        <h3>Loading</h3>
        <img src="../../assets/img/loading.gif" alt="Loading..."  />
    </div>


    <div id="sliderlearning-container" ng-hide="!learningContainerVisible" >

        <slidergroup ng-controller="SlidersCtrl"
                     groupname="learning"
                     slidernames="age, education-num, hours-per-week, workclass, native-country, sex, race, relationship, occupation, income, marital-status"
                     noTextbox="1">

        </slidergroup>
    </div>


    <div class="col-xs-11" id="SL-next-container">
        <button ui-sref="interactive-learning" class="btn btn-primary">Next &gt;</button>
    </div>
</div>
